{% extends "user/index.html" %}
{% block start %}

<table class="table" style="margin: 70px; font-size: 20px;">
    <tbody>
        {% for item in query_results %}
        <tr>
            <td>You will be pay {{pay}} in {{time}}</td>
            {% if user.is_authenticated %}
            {% csrf_token %}
                <td><button type="button" class="btn btn-primary" disabled><a href={% url 'final' item.id %} disabled="disabled" class="btn btn-info" role="button">Submit Request</a></button></td>
            {% else %}
                <td><button type="button" class="btn btn-primary">Submit Request</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock start %}